Unity/star_shooter/Star_Shooter/.vs/
.NetFramework/Web/.vs/
.NetFramework/WindowsForm/JeuSimon/Tp4/.vs/
Android/RSSReader/.gitignore
Android/RSSReader/.idea/
Android/RSSReader/app/.gitignore
Android/RSSReader/app/build.gradle
C/MotCroisee/.vs/
ReseauNeuronne/TPARCHIPERCEPTRON/Interface/.vs/
ReseauNeuronne/TPARCHIPERCEPTRON/TP5/.vs/
